@tailwind base;
@tailwind components;
@tailwind utilities;

/* your custom overrides */
*{box-sizing:border-box}
html,body,#root{height:100%}
body{
  margin:0;
  font-family: Inter, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial;
  background:#0b1020;
  color:#e6eef8;
  -webkit-font-smoothing:antialiased;
}
a{color:inherit}
main{padding:0 16px}
